#root {
  width: 100vw;
  font-size: 16px;
}

.App {
  height: 100vh;
  width: 100vw;
}

*, *::before, *::after {
  box-sizing: border-box;
  --text-primary: #6250fe;
  --text-primary-opacity: rgba(98, 80, 254, 0.1);
  --text-grey: #6d6d6d;
  --text-secondary: #000000;
  /* --text-success: #000000; */
  /* --text-danger: #000000; */
  --background-primary: #d7d1f0;
  --background-secondary: #b9d2f7;
  --background-highlight: #ffd621;
  --background-highlight-opacity-60: rgba(255, 214, 33, 0.6);
  --background-light-grey: rgba(201, 201, 201, 0.2);
  --background-dashboard: #bbb8d5;
  /* --background-navbar: #4169a0; */
  --background-navbar: #544d93;
  --background-navbar-hover: rgba(245, 245, 245, 0.2);
  --border-input-box: #ababab;
  --disabled-button-background: #ebebeb;
  --success-color: #55ac55;
  --error-color: tomato;
  --white: whitesmoke;
  --button-border-radius: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error-message {
  color: var(--error-color);
  list-style: inside;
  width: 100%;
  height: 18px;
}

.not-display {
  display: none;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.authenticated-screen {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-dashboard);
}